{% extends 'base.html' %}

{% block title %} | Delete Domain{% endblock title %}

{% block nav %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a class="link-primary" href="/">Home</a></li>
    <li class="breadcrumb-item"><a class="link-primary" href="/domains">Domains</a></li>
    <li class="breadcrumb-item"><a class="link-primary" href="/domains/{{ domain.pk }}">Domain Detail</a></li>
    <li class="breadcrumb-item active">Delete Domain</li>
  </ol>
{% endblock nav %}

{% block content %}
<form method="post">
  {% csrf_token %}
  <div class="container" style="max-width: 750px;">
    <div class="alert alert-light" style="color: black;">
      <p>Are you sure you want to delete this domain?</p>
      <div class="mt-4 d-flex justify-content-end">
        <a href="/domains/{{ domain.pk }}" class="btn btn-light me-2">Cancel</a>
        <button type="submit" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</form>
{% endblock content %}
